body {
    background-color: #000;
}

.wrapper-block {
    max-width: calc(100% - 60px);
    height: 100%;
    margin: 0 auto;

}

.big-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    background-color: blue;
}

.right,
.left{
    position: absolute;
    width: calc(50% - 10px);
    height: 350px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.right {
    animation-name: right;
    background-color: red;
    right: 0;
    

}

.left {
    background-color: purple;
    animation-name: left;
    
}

//ANIMATION
    @keyframes right {
        0% {
        }

        100% {
            left: 0;
        }
    }

    @keyframes left {
        0% {
        }

        100% {
            right: 0;
        }
    }
//ANIMATION